{% extends 'base.html' %}
{% block title %}
  Prices
{% endblock %}
{% block content %}
  <section class="py-4 py-xl-5"></section>
  <div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
      <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
        <div style="max-width: 500px;width: 300px;">
          <h2 class="text-uppercase fw-bold"></h2>
          <p class="my-3">Now the money stuff...</p>
          <form method="post">
            <input class="form-control-sm form-control w-75" value="{{doc.price if doc else ""}}" name="price" type="number" style="margin-top: 16px;background: var(--bs-body-color);" placeholder="Price per day" />
            <input class="form-control-sm form-control w-75" value="{{doc.month_disc if doc else ""}}" name="month-disc" type="number" style="margin-top: 16px;background: var(--bs-body-color);" placeholder="Monthly stay discount (%)" />
            <input class="form-control-sm form-control w-75" value="{{doc.year_disc if doc else ""}}" name="year-disc" style="margin-top: 16px;background: var(--bs-body-color);" placeholder="Yearly stay discount (%)" />
            <button class="btn btn-dark btn-lg me-2" role="submit" style="margin-top: 16px;">Post</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-xl-5 m-xl-5">
          <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;border-width: 3px;border-style: groove;height: 400px;" src="{{ url_for('static', filename = 'img/Penize1-Foto-Tomáš-Lénárd.jpg') }}" />
        </div>
      </div>
    </div>
  </div>
  <header class="bg-dark"></header>
  <footer class="text-center bg-dark">
    <div class="container text-white py-4 py-lg-5" style="background: #1f1e21;">
      <p style="font-size: 20px;">step 8/5</p>
    </div>
  </footer>
{% endblock %}
