{% extends 'base.html' %}{% block title %}Rentals{% endblock title %} {% block
content %}
<div
  class="modal fade"
  role="dialog"
  tabindex="-1"
  id="modal-1"
  style="--bs-modal-width: 500px"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background: rgb(31, 30, 33)">
        <div class="text-center">
          
            {%set tagTypes=["basics", "safety", "standout", "views"]%}
            {% for i in tagTypes %}
            <h5><u><strong>{{i|capitalize}}</strong></u></h5>
              <ul class="list-inline">
                {% for j in doc.tags[i] %}
                  
                    <li class="list-inline-item">{{j}}</li>
                  
                {% endfor %}
              </ul>
            {% endfor %}
          
        </div>
      </div>
      <div class="modal-footer" style="background: rgb(31, 30, 33)">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  role="dialog"
  tabindex="-1"
  id="modal-2"
  style="--bs-modal-width: 1000px"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background: rgb(31, 30, 33)">
        <div class="row d-flex flex-wrap">
          <div class="col-sm-12 col-lg-3">
            <p style="text-align: center" id="stars">
              
            </p>
            <p style="text-align: center; font-size: 30px; margin-top: -12px">
              {{avg_rating}} / 5
            </p>
          </div>
          <div class="col">
            {% for review in reviews %}
              <div
                style="
                  border-top-style: solid;
                  border-top-color: rgba(255, 255, 255, 0.2);
                  padding-top: 8px;
                  margin-bottom: 24px;
                  padding-left: 10px;
                  padding-right: 10px;
                "
              >
                <p
                  class="bg-light border rounded border-0 border-light p-4"
                  style="
                    background: rgb(31, 30, 33) !important; /*color: rgb(0,0,0);*/
                  "
                >
                  {{review.text}}
                </p>
                <div class="d-flex">
                  <p style="font-size: 40px; margin-right: 16px; margin-top: -6px">{{review.rating}}</p>
                  <div>
                    <p class="fw-bold text-primary mb-0">{{review.displayName}}</p>
                    <p class="text-muted mb-0">{{review.timestamp.strftime('%b %Y')}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background: rgb(31, 30, 33)">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  role="dialog"
  tabindex="-1"
  id="modal-3"
  style="--bs-modal-width: 800px"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background: rgb(31, 30, 33)">
        <div
          class="text-center"
          style="border-style: none; padding-right: 10px; padding-left: 10px"
        >
          <p
            style="
              border-style: none;
              border-top-style: solid;
              border-top-color: rgba(255, 255, 255, 0.2);
              text-align: left;
            "
          >
            <strong
              ><span style="text-decoration: underline"
                >Description</span
              ></strong
            ><br /><br /><span
              style="
                color: rgb(211, 207, 201);
                background-color: rgb(24, 26, 27);
              "
              >{{doc.description}}</span
            >
          </p>
        </div>
      </div>
      <div class="modal-footer" style="background: rgb(31, 30, 33)">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  role="dialog"
  tabindex="-1"
  id="modal-4"
  style="--bs-modal-width: 500px"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background: rgb(31, 30, 33)">
        <div
          class="text-center"
          style="border-style: none; padding-right: 10px; padding-left: 10px"
        >
          <ul class="list-unstyled" id="tips-list">
            <li class="list-item">Loading...</li>
          </ul>
        </div>   
      </div>
      <div class="modal-footer" style="background: rgb(31, 30, 33)">
        <button class="btn btn-light" type="button" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade sys-box-course-modal"
  role="dialog"
  tabindex="-1"
  id="modal-image"
>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body sys-box-course-modal">
        <div
          id="player"
          class="plyr__video-embed"
          style="
            background: url('assets/img/346ee2ef-ec07-4a83-b6e3-40a9325b30b0%20(1).webp');
            background-repeat: no-repeat;
            background-size: cover;
          "
        >
          <button
            class="btn btn-primary"
            type="button"
            style="
              background: rgba(55, 99, 244, 0);
              border-style: none;
              border-top-style: none;
            "
            data-bs-dissmiss="modal"
          >
            <i class="icon ion-android-exit" style="font-size: 32px"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel slide" data-bs-ride="false" id="carousel-1">
  <div class="carousel-inner">
    {% set carousels = (((doc.images|length)/3)|int) if (((doc.images|length)/3)|int) > 0 else 1 %}
    {% for c in range(carousels) %}
    <div class="carousel-item active">
      <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {% for i in range(3) %}
            {%if doc.images[c*i+i]%}
                <div class="col">
                    <div class="card">
                    <img
                        class="card-img-top w-100 d-block fit-cover"
                        style="height: 200px"
                        src="{{doc.images[c*i+i]}}"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-image"
                    />
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div>
    <a
      class="carousel-control-prev"
      href="#carousel-1"
      role="button"
      data-bs-slide="prev"
      ><span class="carousel-control-prev-icon"></span
      ><span class="visually-hidden">Previous</span></a
    ><a
      class="carousel-control-next"
      href="#carousel-1"
      role="button"
      data-bs-slide="next"
      ><span class="carousel-control-next-icon"></span
      ><span class="visually-hidden">Next</span></a
    >
  </div>
  <ol class="carousel-indicators" style="position: relative">
    {% for i in range(carousels) %}
        {% if loop.first %}
            <li data-bs-target="#carousel-1" data-bs-slide-to="{{i}}" class="active"></li>
        {% else %}
            <li data-bs-target="#carousel-1" data-bs-slide-to="{{i}}"></li>
        {% endif %}
    {% endfor %}
  </ol>
</div>
<div class="container">
  <div class="row d-flex flex-wrap-reverse">
    <div class="col-sm-12 col-lg-8">
      <h1 style="font-size: 30px; margin-bottom: 12px">
        Spend your time in {{ doc["city"]+", "+doc["country"] }}
      </h1>
      <a href="#" data-bs-toggle="modal" data-bs-target="#modal-4"
        ><br />What interesting things are there?<br /><br
      /></a>
      <div style="text-align: center"></div>
      <p
        style="
          padding-top: 8px;
          border-style: none;
          border-top-style: solid;
          border-top-color: rgba(255, 255, 255, 0.2);
        "
      >
        <strong
          ><span style="text-decoration: underline">Description</span></strong
        ><br />{{doc.description[:200]}}<br /><br /><a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            viewBox="0 0 16 16"
            class="bi bi-three-dots"
            style="font-size: 26px"
            data-bs-toggle="modal"
            data-bs-target="#modal-3"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
            ></path></svg
        ></a>
      </p>
      <div>
        <p
          style="
            border-style: none;
            border-top-style: solid;
            border-top-color: rgba(255, 255, 255, 0.2);
            padding-top: 8px;
          "
        >
          <strong
            ><span style="text-decoration: underline"
              >Amneties</span
            ></strong
          >
        </p>
        <div class="row">
          {%for i in range(2)%}
          <div class="col">
            <ul class="list-unstyled">
              {% for item in range(4)%}
              <li>{{tags[i*4 + item]}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            viewBox="0 0 16 16"
            class="bi bi-three-dots"
            style="font-size: 26px"
            data-bs-toggle="modal"
            data-bs-target="#modal-1"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
            ></path></svg
        ></a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 justify-content-xl-center">
      <div
        id="cardEntrada-2"
        class="p-4 text-center shadow-lg m-5 rounded-5"
        style="
          background: linear-gradient(
              171deg,
              var(--bs-pink) 0%,
              var(--bs-indigo) 100%
            ),
            var(--bs-purple);
          min-width: 300px;
          min-height: 300px;
          max-width: 350px;
        "
      >
        <h5 class="text-white text-center pt-2"><a href="/user/{{doc.user_uid}}">host profile</a></h5>
        <h3 class="text-white text-center pt-2">{{doc.price}} $AUD</h3>
        <form method="post" action="/payment/{{doc.id}}">
        <input
        name="from"
          id="from-in"
          type="date"
          min="{{(doc['from']|string()).split(' ')[0]}}"
          max="{{(doc['to']|string()).split(' ')[0]}}"
          style="
            width: 180px;
            background: rgba(255, 255, 255, 0);
            border-radius: 15px;
            padding-right: 5px;
            padding-left: 10px;
            border-style: none;
            color: black;
          "
        />
        <p class="fw-light text-white m-0"></p>
        <input
        name="to"
          id="to-in"
          type="date"
          min="{{(doc['from']|string()).split(' ')[0]}}"
          max="{{(doc['to']|string()).split(' ')[0]}}"
          style="
            width: 180px;
            background: rgba(255, 255, 255, 0);
            border-radius: 15px;
            padding-right: 5px;
            padding-left: 10px;
            border-style: none;
          "
        /><input
        name="guests"
          id="guests"
          type="number"
          style="
            background: rgba(255, 255, 255, 0);
            border-radius: 15px;
            padding-right: 5px;
            width: 180px;
            padding-left: 10px;
            border-style: none;
          "
          placeholder="no. guests"
        /><button
          id="reserve"
          class="btn btn-primary"
          type="submit"
          style="background: rgb(45, 44, 56); margin-top: 14px"
        >
          Reserve
        </button>
        <hr class="text-white" />
        <div class="d-flex justify-content-between">
          <p>Total</p>
          <p id="total-price"></p>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container py-4 py-xl-5">
  <div
    class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3"
    style="border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.2)"
  >
  {% for review in reviews %}
    <div class="col">
      <div>
        <p
          class="bg-light border rounded border-0 border-light p-4"
          style="background: rgb(31, 30, 33) !important; /*color: rgb(0,0,0);*/"
        >
          {{review.text}}
        </p>
        <div class="d-flex">
          <p style="font-size: 40px; margin-right: 16px; margin-top: -6px">{{review.rating}}</p>
          <div>
            <p class="fw-bold text-primary mb-0">{{review.displayName}}</p>
            <p class="text-muted mb-0">{{review.timestamp.strftime('%b %Y')}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    fill="currentColor"
    viewBox="0 0 16 16"
    class="bi bi-three-dots"
    style="font-size: 26px; margin-top: 18px"
    data-bs-toggle="modal"
    data-bs-target="#modal-2"
    onclick="getStars()"
  >
    <path
      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
    ></path>
  </svg>
</div>
{% endblock %}
{% block scripts %}
<script>
  var fromInput = document.getElementById("from-in");
  var toInput = document.getElementById("to-in");
  var guestsInput = document.getElementById("guests");
  var totalPrice = document.getElementById("total-price");

  document.getElementById("reserve").hidden = true;
  fromInput.addEventListener("input", updateOutput);
  toInput.addEventListener("input", updateOutput);
  guestsInput.addEventListener("input", updateOutput);
  function updateOutput() {
    if (fromInput.value && toInput.value && guestsInput.value) {
      document.getElementById("reserve").hidden = false;
      var datediff = Math.floor(
        (Date.parse(toInput.value) - Date.parse(fromInput.value)) /
          (1000 * 60 * 60 * 24)
      );
      total = datediff * Number("{{doc.price}}") * Number(guestsInput.value);
      totalPrice.textContent = String(total) + " $AUD";
    } else {
      totalPrice.textContent = "";
    }
  }
</script>
  <script src="{{ url_for('static', filename = 'js/web/property.js') }}"></script>
{% endblock %}